@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

* {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.App-logo {
  font-size: 25px;
  color:  inherit;
  text-decoration:none;
}

.Own-form {
  margin-left: auto;
  margin-right: auto;
  width: 18em
}

.Photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-column-gap: 0px;
  grid-row-gap: 10px;
  
  justify-items: center;
}

.Error-label {
  color:darkred;
  margin-top: 10px;
  margin-bottom: 2rem;
}